@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
$blue-color: #0d9fe5;
$red-color: #d01822;
$white: #ffffff;
$light-text: #b3b3b3;
$dark-text: #999;

* {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          font-family: "IRANSans", sans-serif;
          color: #333;
          scroll-behavior: smooth;
}

p {
          margin-bottom: 0;
          margin-block-start: 0;
          margin-block-end: 0;
}

body,
html {
          overflow-x: hidden;
          direction: rtl;
          background-color: #222;
}

button,
input {
          border: none;
          outline: none;
}

a {
          text-decoration: none;
}

button {
          cursor: pointer;
}

ul {
          list-style: none;
          padding: 0;
          margin: 0;
}

.en {
          font-family: "Dongle", sans-serif;
          direction: ltr;
}

// Header

header {
          padding: 20px;
          padding-top: 5px;
          a {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    img {
                              width: 70px;
                              margin-right: 10px;
                    }
                    h1 {
                              margin-top: 15px;
                              font-size: 40px;
                              color: $red-color;
                    }
          }
}

// Please wait
.please-wait {
          width: 100%;
          height: 100%;
          display: grid;
          position: fixed;
          left: 0;
          top: 0;
          place-items: center;
          transition: all 0.3s;
          background-color: var(--red-color);
          &.close {
                    display: none;
          }
}

// Content
.content {
          display: flex;
          justify-content: center;
          width: 100vw;
          &.close {
                    display: none;
          }
          ul {
                    width: 80%;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    padding-top: 40px;
                    padding-bottom: 40px;
          }
          li {
                    width: 100%;
                    background-color: #fff;
                    border-radius: 30px;
                    padding: 20px;
                    display: flex;
                    margin-bottom: 30px;
                    overflow-x: hidden;
                    .id {
                              display: none;
                    }
                    .img {
                              border-radius: 20px;
                              overflow: hidden;
                              width: 300px;
                              height: 100%;
                              img {
                                        border-radius: 20px;
                                        height: 100%;
                                        width: 100%;
                              }
                    }
                    .info {
                              padding-right: 20px;
                              width: 100%;
                              .header {
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                              }
                    }
                    p {
                              margin-bottom: 10px;
                              &.extra {
                                        display: flex;
                                        align-items: center;
                                        column-gap: 15px;
                                        .extra_item {
                                                  background-color: rgb(112, 7, 133);
                                                  padding: 10px;
                                                  font-size: 14px;
                                                  margin-bottom: 0;
                                                  color: #fff !important;
                                                  border-radius: 10px;
                                                  span{
                                                            color: #fff !important;
                                                  }
                                        }
                              }
                    }
                    .site {
                              margin-top: 20px;
                              a {
                                        font-size: 25px;
                                        font-weight: bold;
                                        color: $red-color;
                                        transition: all 0.3s ease;
                                        &:hover {
                                                  color: rgba(0, 0, 255, 0.781);
                                        }
                              }
                    }
                    .more {
                              width: 70px;
                              margin-top: 20px;
                    }
          }
}

// Search Form

.header-search {
          width: 100vw;
          display: flex;
          justify-content: center;
          .form {
                    width: 30%;
                    .form-group {
                              position: relative;
                    }
                    input {
                              font-size: 23px;
                              padding: 5px 12px;
                              padding-left: 37px;
                    }
                    button {
                              position: absolute;
                              left: 0;
                              top: 50%;
                              transform: translate(10px, -27%);
                              background: #fff;
                              i {
                                        color: $red-color;
                                        font-size: 20px;
                              }
                    }
          }
}

.not-found {
          width: 100%;
          display: grid;
          place-items: center;
          display: none;
          min-height: calc(100vh - 174px);
          &.show {
                    display: grid;
          }
          p {
                    color: $red-color;
                    font-size: 40px;
          }
}

.error {
          width: 100%;
          min-height: calc(100vh - 174px);
          display: grid;
          place-items: center;
          display: none;
          p {
                    color: $red-color;
                    font-size: 40px;
                    text-align: center;
          }
          &.show {
                    display: grid;
          }
}
